<div class="toolbar-container">
  <h1>{{ 'APP_HEADER' | translate }}</h1>
  <div class="btn-container">
    <button
      mat-fab
      extended
      [ngClass]="active_view === 'graph-view' ? 'active' : ''"
      (click)="loadView('graph-view')"
    >
      <mat-icon>account_tree</mat-icon>
      {{'GRAPH_VIEW' | translate}}
    </button>
    <button
      mat-fab
      extended
      [ngClass]="active_view === 'grid-view' ? 'active' : ''"
      (click)="loadView('grid-view')"
    >
      <mat-icon>grid_view</mat-icon>
      {{'GRID_VIEW' | translate}}
    </button>
  </div>
</div>
<router-outlet></router-outlet>
